<div class="w-full pb-16 max-w-6xl mx-auto px-4 sm:px-5">
  <%= render 'hero_search' %>

  <% if @has_active_search %>
    <%= render 'search_results' %>
  <% else %>
    <%= render 'top_songs' %>
    <%= render 'browse_instruments' %>
    <%= render 'browse_difficulty' %>
    <%= render 'top_artists' %>
  <% end %>
</div>
